.App {
  
  background-color:#E3E4E2;
  height: 900px;
  
}
.AppM{
	background-color:#E3E4E2;
	height: 1100px;
}
.body
{
	 display:inline-block;
    border:8px solid gray;
    width: 450px;
    padding:50px 0;
    background: #cccdcb;
	
}
.divider{

	display: inline-block;
}
.AppRegister{
	 background-color:#E3E4E2;
	height: 660px;
}

.navbar-custom{
	margin-bottom: 0;
     border-radius: 0;
	background-color: #94D6B7;
}

.navbar-item{
	color: #263830;
	margin-bottom: 0;
      border-radius: 0;
}
.container{
	color:#263830;
	font-family: 'Script';
	font-size: 17px;
	
	
}
.footer {
      font-family: 'Script';
	  font-size: 20px;
	  font-weight: bold-italic;
	  background-color:#E3E4E2;
      bottom:0;
	  padding-top: 210px;
	  width: 100%;
	  font-variant: small-caps;
	  
    }
    
.btn-custom{
	background-color: #94D6B7;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #64D435;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #E5DBBE;
}

.App-link {
  color: #61dafb;
}
.AppLogin{
  background-color:#E3E4E2;
  height: 660px;
}
.Picture
{
	 height : 100px;
	 display: block;
	 margin-left: auto;
	 margin-right:auto;
	 
	 
}
.Real_pics
{
	
}
@keyframes App-logo-spin {
  from { 
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
